/* .nav {
    list-style-type: none;
    
}
li {
    display: inline;
    text-align: right;
} */

header {
    margin: 0;
    height: 20%;
}
.main-nav {
    width: 100%;
    min-height: 30px;
    padding: 10px;
    /* position: fixed; */
    text-align: center;
    color: white;
    font-size: 1.25em;
}

.nav .name {
    display: block; 
    margin-right: auto;
}

.nav {
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

.nav li {
    padding: 5px 10px 10px 10px;

}
.nav a {
    transition: all .5s;
    color: white;
    font-size: 1.25em;
}
.nav a:hover {
    text-decoration: underline;
    color: bisque;
}

.arrow {
    color: white;
    /* animation: bounce 2s ease infinite bottom; */
    animation-duration: 2s;
    animation-name: bounce;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

#top {
    text-align: center;
    background: linear-gradient(#683FB9, #FA5098 75%, #FC9B8c);
    background-size: cover;
    overflow: hidden;
    padding-top: 10px;
    margin: 0;
    height: 1000px;
}

main {
    background-color:  #FC9B8c;
}

body {
    font-family: 'Karla', sans-serif;
    background-color:  #FC9B8c;
}

h2 {
    text-align: center;
    color: white;
    font-family: 'Karla', sans-serif;
    text-decoration: underline;
    font-weight: 700;
    margin-bottom: 80px;
}
.about-me {
    overflow-x: hidden;
    align-items: stretch;
    display: flex;
    margin: 100px 150px 100px 150px;
    mar
}
.about-photo {
    margin-right: 30px;
    display: flex;
    align-self: start;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.about-text {
    display: flex;
    font-size: 20px;
    color: white;
    padding: 30px;

}

.icons {
    font-size: 60px;
    color:white;
}

.icons-text {
    color: white;
    font-size: 20px;
}

.skill i:hover {
    color: bisque;
    transform: scale(1.2);
}


#hello {
    width: 80%;
    margin: 20px auto;
    min-height: 700px;
  }
  #hello svg {
    min-height: 700px;
  }
  .hidden {
    width: 0;
    opacity: 0;
    overflow: hidden;
  }

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}